In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"

df = pd.read_csv(url)

print(df.head())

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369

In [4]:
pd.__version__

'2.2.3'

In [5]:
df.shape

(9704, 11)

In [6]:
df.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [8]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [10]:
df.isna()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
9699,False,False,False,False,False,False,False,False,False,True,False
9700,False,True,False,False,False,False,False,False,False,False,False
9701,False,False,False,False,False,False,False,False,False,False,False
9702,False,False,False,False,False,False,False,False,False,False,False
9703,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [14]:
df[df['origin']=='Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [13]:
df.fuel_efficiency_mpg.describe()

count    9704.000000
mean       14.985243
std         2.556468
min         6.200971
25%        13.267459
50%        15.006037
75%        16.707965
max        25.967222
Name: fuel_efficiency_mpg, dtype: float64

In [ ]:


median_before = df['horsepower'].median()
print("Median before filling:", median_before)

most_freq = df['horsepower'].mode()[0]
print("Most frequent value:", most_freq)

df['horsepower'] = df['horsepower'].fillna(most_freq)


median_after = df['horsepower'].median()
print("Median after filling:", median_after)

Median before filling: 149.0
Most frequent value: 152.0
Median after filling: 152.0

In [ ]:

X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7).values

# Paso 2: Calcular X^T X
XTX = X.T.dot(X)

# Paso 3: Invertir XTX
XTX_inv = np.linalg.inv(XTX)


y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])


w = XTX_inv.dot(X.T).dot(y)


result = w.sum()
result

np.float64(0.5187709081074016)